<a href="https://colab.research.google.com/github/PTmytrial/Sentimental-Analytics/blob/main/Lexicon_Based_Sentiment_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# For Loops in Python

In [ ]:
# iterate over list
# iterate using range()

In [ ]:
list_of_numbers = [1,2,3,4,5]
for x in list_of_numbers:
  print(x)
  print(x*2)

1
0.5
2
1.0
3
1.5
4
2.0
5
2.5

In [ ]:
list_of_numbers = [1,2,3,4,5]
for i,x in enumerate(list_of_numbers):
  list_of_numbers[i] = x*2
  print(i,list_of_numbers[i])

0 2
1 4
2 6
3 8
4 10

In [ ]:
students = ['Alice', 'Bob', 'Charlie']
grades = {'Alice': 85, 'Bob': 92, 'Charlie': 78}

for i,x in enumerate(students):
  print(students[i])

Alice
Bob
Charlie

In [ ]:
students = ['Alice', 'Bob', 'Charlie']
grades = {'Alice': 85, 'Bob': 92, 'Charlie': 78}

for i,x in enumerate(students):
  print(grades['Alice'])

85
85
85

In [ ]:
students = ['Alice', 'Bob', 'Charlie']
grades = {'Alice': 85, 'Bob': 92, 'Charlie': 78}

for i,x in enumerate(students):
  print(grades[x])

85
92
78

In [ ]:
students = ['Alice', 'Bob', 'Charlie']
grades = {'Alice': 85, 'Bob': 92, 'Charlie': 78}

for i,x in enumerate(students):
  grade = grades[x]
  print(x,grade)

Alice 85
Bob 92
Charlie 78

In [ ]:
students = ['Alice', 'Bob', 'Charlie']
grades = {'Alice': 85, 'Bob': 92, 'Charlie': 78}

for i,x in enumerate(students):
  grade = grades[x]
  new_grade = grade + 5
  print(new_grade)

90
97
83

In [ ]:
students = ['Alice', 'Bob', 'Charlie']
grades = {'Alice': 85, 'Bob': 92, 'Charlie': 78}

for i,x in enumerate(students):
  grade = grades[x]
  new_grade = grade + i
  print(new_grade)

85
93
80

In [ ]:
students = ['Alice', 'Bob', 'Charlie']
grades = {'Alice': 85, 'Bob': 92, 'Charlie': 78}

for i,x in enumerate(students):
  grade = grades[x]
  new_grade = grade + i
print(new_grade)

80

In [ ]:
students = ['Alice', 'Bob', 'Charlie']
grades = {'Alice': 85, 'Bob': 92, 'Charlie': 78}

for i,x in enumerate(students):
  grade = grades[x]
  new_grade = grade + i
  print(new_grade)
  grades[x] = new_grade
  print(grades)

85
{'Alice': 85, 'Bob': 92, 'Charlie': 78}
93
{'Alice': 85, 'Bob': 93, 'Charlie': 78}
80
{'Alice': 85, 'Bob': 93, 'Charlie': 80}

In [ ]:
students = ['Alice', 'Bob', 'Charlie']
grades = {'Alice': 85, 'Bob': 92, 'Charlie': 78}

for i,x in enumerate(students):
  grade = grades[x]
  new_grade = grade + i
  print(new_grade)
  grades[x] = new_grade
print(grades)

85
93
80
{'Alice': 85, 'Bob': 93, 'Charlie': 80}

# If Statements in Python

In [ ]:
# if
# else
# elif

In [ ]:
students = ['Alice', 'Bob', 'Charlie']
grades = {'Alice': 85, 'Bob': 92, 'Charlie': 78}

for i,x in enumerate(students):
  grade = grades[x]
  if grade <80:
    new_grade = 80
  else:
    new_grade = grade
    grades[x] = new_grade
print(grades)

{'Alice': 85, 'Bob': 92, 'Charlie': 78}

# Functions in Python

In [ ]:
# modify a list in-place
# return a number

In [ ]:
def add_two_numbers(a,b):
  c = a+b
  return c

add_two_numbers(2,3)

5

In [ ]:
students = ['Alice', 'Bob', 'Charlie']
grades = {'Alice': 85, 'Bob': 92, 'Charlie': 78}

def getClassAverage(students, grades):
  numerator = 0
  denominator = 0
  for i,x in enumerate(students):
    grade = grades[x]
    numerator = numerator + grade
    denominator = denominator + 1
  average = numerator/denominator
  return average

getClassAverage(students, grades)

85.0

# Tokenization

Virtually all approaches to NLP begin by tokenizing text. Tokenization typically occurs at the word level but can also be done on characters, syllables, etc..

In [ ]:
# represent text as a Python list of word tokens
# standardize tokens by making them all lowercase

In [ ]:
document = 'Graet food, excellent service.'
tokens = ['grate', 'food', 'excellent', 'service']

# Lexicon-Based Sentiment Analysis

Lexicon-based sentiment analysis involves giving each word in a document a score and then adding-up those scores. Positive scores indicate positive sentiment, negative scores indicate negative sentiment.

In [ ]:
# represent a lexicon as a dictionary
# use the lexicon and a list of tokens to calculate a sentiment score

In [ ]:
lexicon = {
    'grate': 2.4,
    'food': 0,
    'excellent': 10,
    'bad': -4
}

score = 0

for token in tokens:
  if token in lexicon:
    score = score + lexicon[token]

print(score)

12.4

# Bag of Words

Lexicon-based sentiment analysis represents text as a Bag of Words.
A Bag of Words representation of text is one in which the order of words is ignored. Bag of Words is widely used because it is easy to implement and works well in many applications. But ignoring word order means losing a lot of what gives text meaning.